//768 576 320

//網頁最外圍寬度
.warp{
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;  
}

//定義content,index頁內的表單form_block,footer的padding
.content,.form_block,.footer{
    padding:50px 42px 50px 42px;

    @media (max-width: 768px){
        padding-left: 11px;
        padding-right: 11px;
    }
}

.footer{
    @media (max-width: 576px){
        padding-top:21px;
        padding-bottom: 21px;
    }
}


//定義網頁主要內容,footer的背景色
.content,.footer{
    background-color: $main-bgcolor;
}
//index頁內的表單form_block
.form_block{
    background-color: $form_bg;
}


//網頁header
//header背景
.bg{
    height: 420px;
    background-image: $bg-image-index;
    @include bg_center_norepeat;

    //320px 切換背景圖
    @media (max-width: 320px){
        background-image:$bg-image-index-sm;
    }
}


//header選單列
.menu_bar{
    background-color: $menubar-bg-color;
    padding-left: 42px;
    padding-right:32px;
    &:after{
        @include clearfix;
    }

    @media (max-width: 768px){
        padding-left: 13px;
        padding-right:22px;
    }
}


//header LOGO
.logo{
    float: left;
    h1 a{
        display: block;  
        width: 120px;
        height: 24px;
        background-image: $bg-image-logo;
        @include bg_center_norepeat;
        @include hidden_text;
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

//header選單內容
.menu{
    float: right;  
    li{
        float:left;
        a{
            display: block;
            text-decoration: none;
            line-height:56px;
            padding-left:16px;
            padding-right:16px;
            color: darken($menu-font-color,20%);
            &:hover, &:focus{
                color:$menu-font-color;
            }
        }
    }

    @media (max-width: 768px){
        //隱藏選單
        max-height: 0px;
        overflow: hidden;
        /*隱藏選單結束*/
        transition: max-height 0.5s;
        /*絕對定位疊在網頁上*/
        position: absolute;
        z-index: 100;
        top: 56px;
        left: 0;
        right: 0;
        background: $menubar-bg-color;
        li{
            float: none;
            a{
                transition: all 0.3s;
                padding-left: 42px;
                &:hover{
                    background: rgba(255,255,255,.7);
                    color: black;
                }
            }
        }
        &.menu-show{
            max-height: 300px;
        }
    }
}

//漢堡按鈕
.menu_icon{
    display: none;
    position: relative;
    margin-top: 10px;
    width: 36px;
    height: 36px;
    border:solid 2px rgba(255,255,255,0.8);
    border-radius: 3px;
    transition: all 0.3s;
    cursor: pointer;
    span{
        display:block;
        width:20px;
        height:2px;
        background-color: rgba(255,255,255,0.8); 
        position: absolute;
        opacity: 1;
        left:0px;
        right:0px;
        top:0px;
        bottom:0px;
        margin:auto;
        transition: all 0.3s;
        /*第一條線*/
        &:nth-child(1){
            -moz-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
        }
        &:nth-child(3){
            -moz-transform: translateY(10px);
            -ms-transform: translateY(10px);
            -webkit-transform: translateY(10px);
            transform: translateY(10px);
        }
    }
    &.animated span:nth-child(1){
        transform: rotate(220deg);
    }
    &.animated span:nth-child(2){
        opacity: 0;
    }
    &.animated span:nth-child(3){
        transform: rotate(-220deg);
    }
    &:hover,&:focus{
        border:solid 2px rgba(255,255,255,1);
        span{
            background-color: rgba(255,255,255,1); 
        }
    }
    @media (max-width: 768px){
        display: block;
        float: right;
    }
}


//header 背景 標語
.bg_slogan{
    margin: 67px auto;
    max-width: 460px;
    padding:20px 22px 26px 22px;
    text-align: center;
    background: rgba(0,0,0,0.35);
    color:$slogan-font-color;
    letter-spacing: 1px;
    h2{
        font-size: $slogan-title-font-size;
        margin-bottom: 16px;
    }
    p{
        line-height: 21px;
    }
}



//網頁footer
.footer{
    color:$main-font-color;   
    h3{
        font-size: $title-font-size;
        margin-bottom: 16px;
    }
    .aboutus{
        @include floatAndwidth(left,33.33333%); 
        margin-right: 21px;
    }
    .contactus{
        @include floatAndwidth(left,33.33333%); 
        ol{
            list-style:disc;
            padding-left: 20px;
            li {
               line-height: 21px;
            }
        }
    }

    .social_link{
        @include floatAndwidth(right,calc(33.33333% - 21px));
        text-align: right;   
        .logo_footer{
            display: flex;
            justify-content: flex-end;
            h2 > a{
                display: block;  
                margin-bottom: 22px;
                width: 245px;
                height: 49px;
                background-image: $bg-image-logo-footer;
                @include bg_center_norepeat;
                @include hidden_text;
            }
        }
        .link_group a{
            margin-left:6px;
            &:nth-child(1){
                @include color-hover-feedback(#DB4437);
            }
            &:nth-child(2){
                @include color-hover-feedback(#41ABE1);
            }
            &:nth-child(3){
                @include color-hover-feedback(#3A5795);
            }
        }
    }
    &:after{
        @include clearfix;
    }


    @media (max-width: 768px){
        .aboutus{
            @include floatAndwidth(left,50%);
            margin-bottom: 30px;
            margin-right:0px;
        }
        .contactus{
            width: 100%;
                          
        }
        .social_link{
            @include floatAndwidth(right,50%);
        }
    }
    @media (max-width: 576px){
        .aboutus{
            display: none;  
        }
        .contactus{
            display: none;              
        }
        .social_link{
            float:none;
            width: 100%;
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;    
            .logo_footer{
                justify-content:flex-start;
                h2 > a{
                    margin-bottom: 0px;
                    width: 171.5px;
                    height: 34.3px;
                    background-size: contain;
                }
            }
        }
    }

    @media (max-width: 320px){
        .social_link{
            .logo_footer{
                h2 > a{
                    width: 147px;
                    height: 29.4px;
                }
            }
        }
    }
}


